###############################################################
# Ignore regular files
###############################################################
*.xlsx
*.xlsm
*.htm
.gitignore


###############################################################
# Ignore directories:
###############################################################
.archive/
data/
email/
logs/
reference/
macros/
