asn1crypto==1.5.1
boto3==1.39.0
botocore==1.39.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.4
dotenv==0.9.9
et_xmlfile==2.0.0
filelock==3.18.0
greenlet==3.2.3
idna==3.10
JayDeBeApi==1.2.3
jmespath==1.0.1
jpype1==1.5.2
loguru==0.7.3
numpy==2.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pathlib==1.0.1
platformdirs==4.3.8
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==25.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
requests==2.32.4
s3transfer==0.13.0
selenium==3.0.0
six==1.17.0
snowflake-connector-python==3.15.0
snowflake-sqlalchemy==1.7.5
sortedcontainers==2.4.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
tomlkit==0.13.3
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
win32_setctime==1.2.0
